# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
!*/

nvim/.config/dein/.cache/
nvim/.config/dein/repos/
nvim/.config/coc/extensions/

# allow
!Makefile
!README.md
!bin/*.sh

!nvim/bin/*.sh
!nvim/.config/coc/extensions/package.json
!nvim/.config/dein/.gitkeep
!nvim/.config/nvim/init.vim
!nvim/.config/nvim/coc-settings.json
!nvim/.config/nvim/dein.toml
!nvim/.config/nvim/lombok.jar
!nvim/.config/nvim/spell/en.utf-8.add

!bash/bin/*.sh
!/bash/.bash_profile
!/bash/.bashrc
!/bash/.inputrc
!/bash/.config/starship.toml
!/bash/.config/custom_bashrc/7777_setup_alias
!/bash/.config/custom_bashrc/8888_setup_func
!/bash/.config/custom_bashrc/9999_launch_starship

!mac/bin/*.sh
!mac/.gitconfig
!mac/.gitignore_global
!mac/.ideavimrc
!mac/.pryrc
!mac/.vimrc
!mac/.xvimrc
!mac/.myclirc
!mac/.pgclirc

!wezterm/bin/*.sh
!wezterm/.config/wezterm/wezterm.lua

!tools/grpc-call
!tools/ghe-noti
!tools/add
!tools/push
!tools/preview-git-file
!tools/java-home
!tools/bin/*

!sketchybar/bin/*.sh
!sketchybar/.config/sketchybar/sketchybarrc
!sketchybar/.config/sketchybar/plugins/*.sh

!raycast/*.rayconfig

!yabai_skhd/bin/*.sh
!yabai_skhd/.yabairc
!yabai_skhd/.skhdrc

