# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
!*/

.config/dein/.cache/
.config/dein/repos/
.config/google-chrome/

# allow any
!.config/dein/installer.sh
!.config/fish/functions/*.fish
!.config/fish/config.fish
!.config/nvim/spell/*.add
!.config/nvim/deim.toml
!.config/nvim/init.vim
!.config/peco/config.json
!Makefile
!README.md
!bin/

