.DS_Store
.ctags
.config/compiz-1/
.confih/dconf/
.config/dein/
.config/enchant/
.config/evolution/
.config/fcitx/
.config/fish/fishd.*
.config/gcloud/
.config/google-chrome/
.config/repos/
.config/wireshark/
.config/.cache/
tags
tags.lock
