
nnoremap \b :action ToggleLineBreakpoint<CR>

nnoremap \d :action Debug<CR>
nnoremap \dc :action DebugClass<CR>

inoremap jj <Esc>

nnoremap \r :action Run<CR>
nnoremap \rc :action RunClass<CR>
nnoremap \re Refactorings.QuickListPopupAction<CR>



