[user]
  email = hyoga0216@gmail.com
  name = cd-glacier
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim -c \"set fenc=utf-8\"
[web]
  browser = open
[ghq]
  root = ~/dev/src/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
