set clipboard=unnamed

nnoremap <space><space> :action SearchEverywhere<CR>
nnoremap <space>f :action FindInPath<CR>

nnoremap <space>b :action ToggleLineBreakpoint<CR>
nnoremap <space>d :action Debug<CR>
nnoremap <space>dc :action DebugClass<CR>

nnoremap <space>r :action Run<CR>
nnoremap <space>rc :action RunClass<CR>

nnoremap <space>re Refactorings.QuickListPopupAction<CR>

nnoremap ee :action ActivateProjectToolWindow<CR>

inoremap jj <Esc>
