set clipboard=unnamed

nmap gi :action GotoImplementation<CR>

nnoremap <space><space> :action SearchEverywhere<CR>
nnoremap <space>f :action FindInPath<CR>

nnoremap <space>b :action ToggleLineBreakpoint<CR>
nnoremap <space>d :action Debug<CR>
nnoremap <space>dc :action DebugClass<CR>

nnoremap <space>r :action Run<CR>
nnoremap <space>rc :action RunClass<CR>

nnoremap <space>re Refactorings.QuickListPopupAction<CR>
nnoremap <space>ren :action RenameElement<CR>
nnoremap <space>ref :action ShowUsages<CR>

nnoremap <C-w>\| :action SplitVertically<CR>
nnoremap <C-w>\- :action SplitHolizontally<CR>

nnoremap ee :action ActivateProjectToolWindow<CR>

nnoremap :w :action SaveAll<CR>

nnoremap / :action Find<CR>

nnoremap n :action NextOccurence<CR>
nnoremap N :action PreviousOccurence<CR>

inoremap jj <Esc>
