set clipboard=unnamed
set incsearch

let mapleader=" "

inoremap jj <Esc>

nmap gi <Action>(GotoImplementation)

map <leader><space> <Action>(SearchEverywhere)
map <leader>f <Action>(FindInPath)

map <C-w>\| <Action>(SplitVertically)
map <C-w>\- <Action>(SplitHolizontally)

map :w <Action>(SaveAll)

map / <Action>(Find)

# Run
map <leader>ru <Action>(Run)

# Debug
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>e <Action>(EvaluateExpression)
map <leader>c <Action>(Resume)
map <leader>s <Action>(StepOver)

# Refactoring
map <leader>re <Action>(RefactoringMenu)

