# 見た目
[[plugins]] # color schema
repo = 'blazkowolf/gruber-darker.nvim'
hook_add = '''
  colorscheme gruber-darker
'''

[[plugins]]
repo = 'vim-airline/vim-airline'

[[plugins]]
repo = 'vim-airline/vim-airline-themes'
hook_add = '''
  let g:airline_theme='bubblegum'
  let g:airline_powerline_fonts = 1
  let g:airline#extensions#branch#enabled = 0
  let g:airline#extensions#readonly#enabled = 0
  let g:airline#extensions#tabline#enabled = 1
  let g:airline_section_c = ''
'''

[[plugins]] # syntax highlight
repo = 'othree/yajs.vim'

[[plugins]] # 末尾spaceの可視化
repo = 'ntpeters/vim-better-whitespace'

[[plugins]] # rainbow brackets
repo = 'frazrepo/vim-rainbow'
hook_add = '''
  let g:rainbow_load_separately = [
      \ [ '*' , [['(', ')'], ['\[', '\]'], ['{', '}']] ],
      \ [ '*.{html,htm,tsx,jsx}' , [['(', ')'], ['\[', '\]'], ['{', '}'], ['<\a[^>]*>', '</[^>]*>']] ],
      \ ]
  let g:rainbow_guifgs = ['RoyalBlue3', 'DarkOrange3', 'DarkOrchid3', 'FireBrick']
  let g:rainbow_ctermfgs = ['lightblue', 'lightgreen', 'yellow', 'red', 'magenta']
'''

[[plugins]] # display color with color code
repo = 'chrisbra/Colorizer'
hook_add = '''
  let g:colorizer_auto_color = 1
'''

[[plugins]]
repo = 'Yggdroot/indentLine'
hook_add = '''
  let g:indentLine_bgcolor_gui = '#808080'
'''

[[plugins]] # HEADとの差分が見える
repo = 'airblade/vim-gitgutter'

[[plugins]] # git系
repo = 'tpope/vim-fugitive'

# 機能

[[plugins]]
repo = 'scrooloose/nerdtree'

[[plugins]]
repo = 'ryanoasis/vim-devicons'

[[plugins]] # 括弧補完
repo = "cohama/lexima.vim"

[[plugins]] # auto indent
repo = "Chiel92/vim-autoformat"

[[plugins]]
repo = 'Shougo/vimproc.vim'
build = 'make'

[[plugins]]
repo = "ruanyl/vim-gh-line"
hook_add = """
  let g:gh_line_map = 'ghline'
  let g:gh_github_domain = $GHE_DOMAIN
"""

[[plugins]]
repo = 'christoomey/vim-tmux-navigator'

[[plugins]]
repo = 'junegunn/fzf'
build = './install --bin'
merged = '0'

[[plugins]]
repo = 'junegunn/fzf.vim'
depends = 'fzf'
hook_add = '''
  command! -bang -nargs=* Ag
    \ call fzf#vim#ag(<q-args>,
    \                 <bang>0 ? fzf#vim#with_preview('up:60%')
    \                         : fzf#vim#with_preview('right:50%:hidden', '?'),
    \                 <bang>0)

  command! -bang -nargs=* Files
    \ call fzf#vim#files(<q-args>,
    \                 <bang>0 ? fzf#vim#with_preview('up:60%')
    \                         : fzf#vim#with_preview('right:50%:hidden', '?'),
    \                 <bang>0)

  nmap <silent> <space><space> :GFiles<CR>
  nmap <silent> <space>h :History!<CR>
  nmap <silent> <space>f :Rg<CR>
  nmap <silent> <space>c :Commits<CR>
'''

